@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$white: #fff;
$primary: #e3e4ea;
$second: #9d9ea5;
$reddish: #db3a0e;
$black-dark: #0a0a15;
$light-brown: #d6cab9;
$orange: #eea549;
$brown: #552f2c;
$gold: #eea549;
$blue: #44bddd;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-size: 0.8rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  // align-items: center;
  // align-content: center;
  // justify-items: center;
}
.chat-container {
  width: 100%;
  height: 200px;
  background: green;
  color: $second;
  padding: 1rem;

  .left {
    text-align: left;
    background: $white;
    border-left: 2px solid $blue;
    width: auto;
    padding: 2px 5px;
  }

  .right {
    text-align: right;
    background: $white;
    border-left: 2px solid $orange;
    padding: 12px 5px;
  }
}
